services:
  postgres:
    image: postgres
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: kb
    volumes:
      - ./pg-data:/var/lib/postgresql/

  backend:
    build:
      context: backend
      dockerfile: Dockerfile
    image: kb-backend
    ports:
      - "8000:8000"
    volumes:
      - ./backend/kbalyzer:/app/kbalyzer
    command: uvicorn kbalyzer.main:app --host 0.0.0.0 --port 8000 --reload
    env_file:
      - ./backend/.env

  frontend:
    build:
      context: frontend
      dockerfile: Dockerfile
    image: kb-frontend
    ports:
      - "5173:5173"
    volumes:
      - ./frontend/src:/app/src

  nginx:
    image: nginx
    ports:
      - "80:80"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf