apiVersion: v1
kind: Service
metadata:
  name: {{ include "kombuchalyzer.fullname" . }}-frontend
  labels:
    {{- include "kombuchalyzer.labels" . | nindent 4 }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: 80
      targetPort: 8000
      protocol: TCP
      name: http
  selector:
    app.kubernetes.io/name: {{ include "kombuchalyzer.name" . }}-frontend
    app.kubernetes.io/instance: {{ .Release.Name }}-frontend